/** biome-ignore-all lint/complexity/noImportantStyles: override plyr styles */
.plyr--full-ui input[type="range"] {
  color: var(--primary) !important;
}

.plyr__control--overlaid {
  background: var(--primary) !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded="true"] {
  background: var(--primary) !important;
}

/* .plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px var(--primary) !important;
} */

.plyr__menu__container
.plyr__control[role="menuitemradio"][aria-checked="true"]::before {
  background: var(--primary) !important;
}

.plyr__progress__buffer {
  color: var(--primary) !important;
}
